@use './variables' as *;

@mixin sidebarItems{
    
    background-color: #fff;

    a {
      color: $mainColor;
    }
    
}

@mixin buttonCommon{
  padding: 10px 30px;
    transition: 0.3s;
    text-decoration: none;
}