@use './_partials/variables' as *;
@import './_partials/mixins';

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900');
@import "../../node_modules/bootstrap/scss/bootstrap";

@import '@fortawesome/fontawesome-free/css/all.css';

body, .font-montserrat{
    font-family: "Montserrat", sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Great Vibes", sans-serif;
}

.btn-main{
    background-color: $mainColor;
    border: 1px solid $mainColor;
    color: #fff;
    padding: 10px 30px;
    transition: 0.3s;
    text-decoration: none;

    &:hover{
        background-color: $hoverMain;
        color: #fff;
    }
}

.btn-white{
     @include buttonCommon;
     background-color: #fff;
     border: 1px solid #fff;
    color: $mainColor; 
     &:hover{
        background-color: #e7e7e7;
        color: $mainColor;
        font-weight: 700;
    }
}

.bg-main{
    background-color: $mainColor
}

.logo {
  width: 150px;
}

.active { 
    .page-link{
        background-color: $mainColor;
        border: 1px solid $mainColor;
    } 
}

.page-item:first-child .page-link, .page-item:last-child .page-link{
    border-radius: 0px;
}

